.carousel-inner img {
    margin: auto;
    min-height:200px;
    max-height:700px;
    /*width: 100%; !* Set width to 100% *!*/
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}