/* Menu Navbar */
.navbar {
    margin-bottom: 0;
    background-color: #f2f2f2;
    z-index: 9999;
    border-radius: 0;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    padding: 12px;
}


/* ---- Animations ---- */

.slideanim {visibility:hidden;}
.slidea {
    /* The name of the animation */
    animation-name: slidea;
    -webkit-animation-name: slidea;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slidea {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slidea {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* ---- End Animations ---- */