/* Menu Navbar */
.navbar {
    margin-bottom: 0;
    background-color: #f2f2f2;
    z-index: 9999;
    border-radius: 0;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    padding: 12px;
}


/* ---- Animations ---- */

/* ---- End Animations ---- */